.bold {
	font-weight: bold;
	font-family: Helvetica;
	color: blue;
}

.wild {
	font-weight: bold;
	font-family: Helvetica;
	color: red;
}


h1 { font-size: 36px}

h2  { font-size: 28px}

h3 { font-size: ;}

a {
	color: #fff;
	text-decoration: none;
}

nav li {
	text-decoration: none;
	margin-right: 20px;
	display: inline;
}


#main {
	background-color: blue;
	color: #fff;
	padding:10px;
}

#divider {
background-color: navy;
color: #fff;
padding: 10px, 50px, 10px;
}

#facts {
padding: 50px;

}

#favorites {
padding: 50px;
background-color: #D3D3D3;
}

.box {
	height:	250px;
	width: 250px; 
	background-color: red;
	border: 3px solid black;
}

}